name: "build-test"
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - master
      - 'releases/*'

jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - run: |
        export GOPATH="$(pwd)/.gopath"
        mkdir -p "${GOPATH}/bin"
        export PATH="${GOPATH}/bin:${PATH}"
        npm install
        npm run all
  test: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
    - uses: mchirico/kind_action@master
      with:
        milliseconds: 1000
    - run: |
        ls /tmp/.gopath/bin
        /tmp/.gopath/bin/sshClientK8s
